
/* Sign Up Section */
.body{
    background-color: white;
    background-image:url("../NETFLIX/netflix.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.check{
    margin-top: -1.8rem;
}
.sign-txt{
    color: #fff;
    padding-top: 1.3rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    display: inline-block;
    margin-top: 3rem;

}
.sign-form{
    background-color:#000000bd;
    max-width: 30rem;
    height:40rem;
    margin: auto;
    border-style: none;
    border-radius: 0.5rem;
}
.input-sign{
    min-width: 20rem;
    padding-left: 1.2rem;
    height: 3rem;
    background-color: #353335e9;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    border-style: none;

    
}
.sign-btn{
    height: 3rem;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: #e50914;
    color: #fff;
    font-weight: 500;
    margin: auto;
    padding: 0.6rem;

}
.box{
    margin-top: 3rem;
    margin-left:5.3rem;
    color: #fff;
    display: flex;
}
.box p{
    margin-left: 9rem;

}
.sign-p{
    color: #fff;
   margin-top: 3rem;
   margin-left: 5.3rem;

}
.footer{
    background-color:#000000bd;
    max-width:100%;
    height: 5rem;
}